extends layout 

block content 

    form(action="" method="post") 
        div 
            label(for="name") Name: 
            input(type="text" name="name" id="name" placeholder="" value=(category ? category.name: '' ))
        div 
            label(for="description") Description: 
            textarea(name="description", cols="30", rows="10" id="description") #{(category ? category.description: '' )} 
        div 
            input(type="submit", value="Submit")