extends layout 

block content 

    if(categories)
        ul 
            for category in categories
                li 
                    span 
                        a(href=category.url) #{category.name}
                    span &nbsp;| &nbsp; 
                    span
                        a(href=category.url+'/update') Update
                    span &nbsp;|&nbsp;
                        a(href=category.url+'/delete') Delete
                 
