doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dist/output.css')
  body(class='bg-slate-200 w-screen overflow-x-hidden')
    nav(class='bg-slate-500') 
        //- flex justify-between items-center shadow-sm bg-slate-500 text-gray-800
        ul(class='flex justify-between items-center px-6')
          div(class='flex')
            a(href="/" class='p-4 hover:text-yellow-500 text-white') 
              li(class='px-6') Dear Diary
          div(class='flex')
            if(user)
              a(href="/diary/category" class='p-4 hover:bg-slate-200 hover:text-gray-600 text-white') 
                li(class='px-6 hover:text-slate-800') Categories
              a(href="/diary/entry" class='p-4 hover:bg-slate-200 hover:text-gray-600 text-white') 
                li(class='px-6 hover:text-slate-800') Entries
              a(href='/diary/user' class='p-4 hover:bg-slate-200 hover:text-gray-600 text-white')
                li(class='px-6 hover:text-slate-800') #{user.username}    
              a(href='/logout' class='p-4 hover:bg-slate-200 hover:text-gray-600 text-white')
                li(class='px-6 hover:text-slate-800') Logout
            else 
              a(href="/glogin" class='p-4 hover:bg-slate-200 hover:text-gray-600 text-white')
                li(class='px-6 hover:text-slate-800') Login

  block content