extends layout

block content 
    form(action="", method="post") 
        div 
            label(for="username") Username 
            input(type="text", name="username", id="username")
        div 
            label(for="email") Email 
            input(type="email", name="email", id="email")
        div 
            label(for="password") Password 
            input(type="password", name="password", id="password")
    div 
        a(href='/auth/google') Login with Google